html, body {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  background: url('http://www.nwsc.edu.hk/modx/background.png') repeat;
  height: 100%;
}

.top-decoration {
  background-image: url('http://www.nwsc.edu.hk/modx/bg-header-red.png');
  padding-top: 0.1rem;
  margin-bottom: 0.5rem; 
}

.common-head {
  background-image: url('http://www.nwsc.edu.hk/modx/bg-header-red.png');
  padding: 1.4rem;
  overflow: hidden;
}

.logo {
  width: 30%;
}

h1.title-c, h2.title-e {
  float: left;
}

h1.title-c {
  padding: 1rem 0 0 1rem;
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  color: #f2e1c7;
}

h2.title-e {
  color: #f2e1c7;
  font-size: 0.8rem;
  margin: 0;
  padding-left: 1.1rem;
}

.sub-dir {
    position: relative;
    background-image: url('http://www.nwsc.edu.hk/modx/bg-sub-dir.jpg');
    padding: 1.5rem;
}

.sub-dir:after {
    background: linear-gradient(-45deg, #fbfbfb -24px, transparent 0), linear-gradient(63deg, #fbfbfb 5px, transparent 0);
    background-size: 7px 34px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
}

.nav-root {
  width: 70%;
  float: left;
}

.nav {
  text-align: center;
}

.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  padding-right: 1rem;
  text-decoration: none;
}

.nav-root a, .nav-root a:link, .nav-root a:visited {
  color: #f2e1c7;
  text-decoration: none;
}

.nav-root a:hover, .nav-root a:active {
  color: #E4CC91;
  text-decoration: none;
}

.nav-subdir {
  line-height: 1.5rem;
}

.nav-subdir a:target{
  color: #fff;
}

.nav-subdir a, .nav-subdir a:link, .nav-subdir a:visited {
  color: #43403c;
  text-decoration: none;
}

.nav-subdir a:hover, .nav-subdir a:active {
  color: #b74527;
  text-decoration: none;
}

.item {
  margin: 0 1rem 0 2rem;
  display: block; 
  margin: auto; 
  float: left; 
}

.item img {
  height: 315px;
}

.index-content {
  width: 80%;
  margin: 5rem auto;
  background: white;
  height: 320px;
}

.block-left, .block-right {
  width: 50%;
  float: left;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #e2e1e1;
  height: 100%;
}

.block-left, .block-right, .circle-left, .circle-right, .border {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block-left {
  border-right: 0;
}

.block-right {
  padding-left: 3rem;
  background: url('http://www.nwsc.edu.hk/modx/hk-map.png') no-repeat right;
  background-size: 75%;
}


h5.index-content-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem 0 0.5rem 1.5rem;
  color: #43403c;
}

.border {
  border-top: solid 3px #efefef;
  border-bottom: solid 1px #efefef;
  height: 4px;
  width: 150px;
  margin: 0 0 1rem 1rem;
}

p.new-activity-p {
  color: #43403c;
}

.block-right img {
  width: 50px;
  padding: 0 2.5rem 0 0.2rem;
}

p.branch-name-p {
  margin: 0;
  width: 64px;
  text-align: center;
  padding: 0 2rem 1rem 0;
  color: #43403c;
}

.block-content {
  margin: auto;
  width: 90%;
}

.branch, .row1, .row2 {
  float: left;
}

.row1 {
  margin-top: 1rem; 
}

.row1, .row2 {
  width: 100%;
}

.row1 .branch {
  width: 25%;
}

.row2 .branch {
  width: 33%;
  margin: auto;
}

.row2 img {
  padding: 0 2rem;
}

.row2 p {
  padding: 0 1.7rem 1rem 1.7rem;
}

.circle-left, .circle-right {
  background: #efefef url('http://www.nwsc.edu.hk/modx/new-branch.png') no-repeat;
  width: 35px;
  height: 70px; 
  box-sizing: border-box;
  position: absolute;
  top: 120px;
  background-size: 70px;
}

.circle-left {
  background-position: 4px;
  border-radius: 35px 0 0 35px;
  right: 0;
}

.circle-right {
  background-position: -39px;
  border-radius: 0 35px 35px 0;
  left: 0;
}

.block-right:hover .circle-right, .block-left:hover .circle-left {
  background: darkred;
}

.block-right:hover .border, .block-left:hover .border{
  border-top: solid 3px darkred;
  border-bottom: solid 1px darkred;
}

.footer-container {
  background:#eee;
  border-top: solid 1px #e2e1e1;
}

.hk-building {
  width: 80%;
  margin: auto;
}

.footer {
  width: 900px;
  height: 260px;
  margin: auto;
  position: relative;
}

.footer > img {
  width: 60%;
  opacity: 0.7;
  float: left;
}

.bottom-item {
  float: left;
  padding: 7.5rem 3rem 0 3rem
}

p.bottom-item-p, .bottom-item img{
  float: left;
}

p.footer-p {
  margin: 0;
  font-size: 0.8rem;
  color: #43403c;
}

.footer a {
  color: #9b4901;
  font-size: 0.5rem;
  text-decoration: underline;
}

.bottom-item img {
  width: 30px;
  padding: 0 0.5rem 0 0;
}

.bottom-item a img {
  padding: 0.5rem 0.5rem 0 0;
}

.bottom-item a img:hover {
  opacity: 0.8;
}

.tel img, .fax img, .email img {
  width: 20px;
  padding-bottom: 1px;
}

.copyright {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p.copyright-p {
  font-size: 0.5rem;
  color: #43403c;
}

.copyright a, .copyright a:link, .copyright a:visited {
  color: #43403c;
  text-decoration: none;
}

.copyright a:hover, .copyright a:active {
  color: #43403c;
  text-decoration: underline;
}
