html, body {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  height: 100%;
  background: url('http://www.nwsc.edu.hk/modx/background.png') repeat;
}

.top-decoration {
  background-image: url('http://www.nwsc.edu.hk/modx/bg-header-red.png');
  padding-top: 0.1rem;
  margin-bottom: 0.5rem; 
}

.common-head {
  background-image: url('http://www.nwsc.edu.hk/modx/bg-header-red.png');
  padding: 1.4rem;
  overflow: hidden;
}

.logo {
  width: 30%;
}

h1.title-c, h2.title-e {
  float: left;
}

h1.title-c {
  padding: 1rem 0 0 1rem;
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  color: #f2e1c7;
}

h2.title-e {
  color: #f2e1c7;
  font-size: 0.8rem;
  margin: 0;
  padding-left: 1.1rem;
}

.sub-dir {
    position: relative;
    background-image: url('http://www.nwsc.edu.hk/modx/bg-sub-dir.jpg');
    padding: 1.5rem;
}

.sub-dir:after {
    background: linear-gradient(-45deg, #fbfbfb -24px, transparent 0), linear-gradient(63deg, #fbfbfb 5px, transparent 0);
    background-size: 7px 34px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
}

.nav-root {
  width: 70%;
  float: left;
}

.nav {
  text-align: center;
}

.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  padding-right: 1rem;
  text-decoration: none;
}

.nav-root a, .nav-root a:link, .nav-root a:visited {
  color: #f2e1c7;
  text-decoration: none;
}

.nav-root a:hover, .nav-root a:active {
  color: #E4CC91;
  text-decoration: none;
}

.nav-subdir {
  line-height: 1.5rem;
}

.nav-subdir a:target{
  color: #fff;
}

.nav-subdir a, .nav-subdir a:link, .nav-subdir a:visited {
  color: #43403c;
  text-decoration: none;
}

.nav-subdir a:hover, .nav-subdir a:active {
  color: #b74527;
  text-decoration: none;
}

.item {
  margin: 0 1rem 0 2rem;
  display: block; 
  margin: auto; 
  float: left; 
}

.item img {
  height: 315px;
}

.index-content {
  height: 800px;
}

.index-content-hkmap {
  width: 60%;
  margin: auto;
}

h5.index-content-title {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 2rem;
  color: #43403c;
}

.index-content img{
  width: 100%;
  opacity: 0.7;
}

.branch-area-outer {
  margin: 0 auto;
  width: 98%;
}

.branch-area {
  float: left;
  width: 14.2%;
}

.branch-telfax {
  padding: 1rem 0 1rem 2rem;
}

p.branch-tel, p.branch-fax {
  margin: 0;
  color: #43403c;
  font-size: 0.8rem;
}

p.branch-name {
  margin: 0;
  color: white;
  font-weight: bold;
}

p.branch-address {
  color: white;
}

.branch {
  float: left;
  background: #333;
  padding: 1rem;
  height: 105px;
  position: relative;
}

.branch-border-right {
  border-right: dashed 1px white;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #007bff transparent;
  position: absolute;
  top: 1;
}

.footer-container {
  background:#eee;
  border-top: solid 1px #e2e1e1;
}

.hk-building {
  width: 80%;
  margin: auto;
}

.footer {
  width: 900px;
  height: 260px;
  margin: auto;
  position: relative;
}

.footer > img {
  width: 60%;
  opacity: 0.7;
  float: left;
}

.bottom-item {
  float: left;
  padding: 7.5rem 3rem 0 3rem
}

p.bottom-item-p, .bottom-item img{
  float: left;
}

p.footer-p {
  margin: 0;
  font-size: 0.8rem;
  color: #43403c;
}

.footer a {
  color: #9b4901;
  font-size: 0.5rem;
  text-decoration: underline;
}

.bottom-item img {
  width: 30px;
  padding: 0 0.5rem 0 0;
}

.bottom-item a img {
  padding: 0.5rem 0.5rem 0 0;
}

.bottom-item a img:hover {
  opacity: 0.8;
}

.tel img, .fax img, .email img {
  width: 20px;
  padding-bottom: 1px;
}

.copyright {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p.copyright-p {
  font-size: 0.5rem;
  color: #43403c;
}

.copyright a, .copyright a:link, .copyright a:visited {
  color: #43403c;
  text-decoration: none;
}

.copyright a:hover, .copyright a:active {
  color: #43403c;
  text-decoration: underline;
}

