p.sub-dir-heading {
  font-size: 2rem;
  color: #43403c;
  margin: 2.5rem 2.5rem 0 2.5rem;
  border-bottom: dashed 1px #43403c;
}

.course-photo-area {
  height: 2300px;
  padding: 2.5rem;
}

.course-photo-box {
  display: inline;
}

.course-photo-box img {
  width: 450px;
  padding-bottom: 1.5rem;
  border-bottom: dashed 1px #43403c;
}

.course-photo-box-right {
  padding-left: 6rem;
}