<div class="footer-container">
  <div class='footer'>
    <img src="http://www.nwsc.edu.hk/modx/footer2.png">
    <div class='bottom-item'>
      <div class="tel">
        <img src="http://nwsc.edu.hk/modx/tel-icon.png">
        <p class="footer-p bottom-item-p">(+852) 2413-8787</p>
      </div>
      <div class="fax">
        <img src="http://nwsc.edu.hk/modx/fax-icon2.png">
        <p class="footer-p bottom-item-p">(+852) 2413-8626</p>
      </div>
      <div class="email">
        <img src="http://nwsc.edu.hk/modx/email-icon.png">
        <a href="mailto:XXX@XXX.hk">XXX@XXX.hk</a>
      </div>
      <a href="https://www.facebook.com/nwscec" target="_blank">
        <img src="http://nwsc.edu.hk/modx/fb-icon.png" alt="facebook-icon">
      </a>
      <a href="https://www.youtube.com/user/NeighbourhoodWorker" target="_blank">
        <img src="http://nwsc.edu.hk/modx/youtube-icon.png" alt="youtube-icon">
      </a>
    </div>
    <div class="copyright">
      <hr>
      <p class="copyright-p"><a href="#">私隱政策</a> | <a href="#">服務條款</a> | 街坊工友服務處教育中心有限公司擁有 ©2015</p>
    </div>
  </div>
</div>
