<div class="footer-container">
  <div class="hk-building">
   <img src="http://nwsc.edu.hk/modx/hk.png">
  </div>
  <div class='footer'>
    <img src="http://www.nwsc.org.hk/desktop/images/logo.jpg">
    <div class='bottom-item'>
      <h3>聯繫我們</h3>
      <div class="tel">
        <img src="http://nwsc.edu.hk/modx/tel-icon.png">
      </div>
      <p>(+852) 2413-8787</p>
      <div class="fax">
        <img src="http://nwsc.edu.hk/modx/fax-icon.png">
      </div>
      <p>(+852) 2413-8626</p>
      <p>電郵：<a href="mailto:XXX@XXX.hk">XXX@XXX.hk</a></p>
    </div>
    <div class="vertical-line"></div>
    <div class='bottom-item'>
      <h3>追蹤我們</h3>
      <a href="https://www.facebook.com/nwscec" target="_blank">
        <img src="http://nwsc.edu.hk/modx/fb-icon.png" alt="facebook-icon">
      </a>
      <a href="https://www.youtube.com/user/NeighbourhoodWorker" target="_blank">
        <img src="http://nwsc.edu.hk/modx/youtube-icon.png" alt="youtube-icon">
      </a>
    </div>
    <div class="copyright">
      <hr>
      <p>私隱政策 | 服務條款 | 街坊工友服務處教育中心有限公司擁有 ©2015</p>
    </div>
  </div>
</div>
