<div class="top-decoration"></div>
<div class="common-head">
  <a href="index.html">
  <div class="logo">
  <h1 class="title-c">街坊工友服務處</h1>
  <h2 class="title-e">Neighbourhoods' and Worker's Service Centre</h2>
  </div>
  </a>
    <nav class="nav nav-root">
      <a href="/about.html">關於我們</a>
      <a href="/target.html">服務對象</a>
      <a href="/course.html">課程</a>
      <a href="/activity.html">活動指南</a>
      <a href="/funding.html">基金</a>
      <a href="/rent.html">設施租用</a>
      <a href="/charity.html">籌募工作及支持我們</a>
      <a href="/record.html">有嘢睇</a>
    </nav>
</div>