---
title: 街工 - 中心簡介
---

<div class="sub-dir">
  <nav class="nav-subdir nav">
    <a href="#">架構圖</a>
    <a href="/center-intro.html">中心簡介</a>
    <a href="#">主席的話</a>
    <a href="#">聯絡我們</a>
    <a href="#">職位空缺</a>
  </nav>
</div>

中心簡介


「街坊工友服務處葵芳綜合服務互助幼兒中心」(下稱葵芳互幼中心)為「街坊工友服務處教育中心有限公司」轄下一個附屬單位，於2011年成立，是一個非牟利慈善團體。其成立的主要目的是服務區內街坊，特別是婦女、兒童及幼兒；提供多元化的服務，包括幼兒暫托服務、婦女支援服務、就業培訓及社區圖書借閱服務等。

葵芳互幼中心的服務範疇：

一) 互助幼兒服務: 「街坊工友服務處葵芳綜合服務互助幼兒中心」獲社署推薦，於2011年在葵芳區為有需要家庭，提供廉價日間幼兒暫託服務，避免獨留兒童在家引發意外，詳情如下：

對象：6歲以下幼童
服務：日間暫託(不包括膳食)
收費：每小時12元

服務時間： 
開放時段：星期一至五，下午4時至晚上8時
預約時段： 
A) 星期一至五, 上午10時至下午4時，晚上8時至10時
B) 星期六、日及公眾假期：上午10時至下午6時

每年服務約720人次

二) 街工關注基層婦女權益會
我們於2009年成立「新來港婦女權益組」，並於2013年改名為「街工關注基層婦女權益會」(下稱婦女權益會)，致力關注基層婦女的權益。現時婦女權益會的成員約100人，關注的議題包括：托兒服務、照顧者政策及零散工權益。我們亦於2013年成立了「基層婦女權益組車衣隊」，為區內街坊提供廉價的改衣服務，並將回收的布料加以利用，創造出一件件獨一無二的布藝品，藉此宣揚環保意識，發揮婦女才能。今年，我們建立了「用得著──以物易物平台」，定期於區內設置以物易物地攤，讓街坊互相分享，交換有用物品，學習珍惜資源。

三) 再培訓課程：

➢ 再培訓課程：
　　為香港合資格僱員、年齡15歲或以上及副學位程度或以下的失業/待業/失學人士提供半日制課程，課程包括：

運用技能培訓課程: 常用英語I基礎證書(兼讀制)、常用英語II基礎證書(兼讀制)、常用英語III基礎證書(兼讀制)、職業英語(聽力及會話)I基礎證書(兼讀制)、職業英語(聽力及會話)II基礎證書(兼讀制)

1.常用英語I基礎證書課程
課程內容：辨識字母、常用基本字詞、基本英文句子
報讀資格：15歲或以上；學歷在副學位程度或以下；尤其適合新來港人士
上課時間：逢星期一、三、五；上午9:15 - 11:45
堂 數：12堂(30小時)
上課地點：葵芳再培訓中心(葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$525 (備註2)
一般資助$1,750 (備註3)

2.常用英語II基礎證書課程
課程內容：日常基本英語應用，如自我介紹、數字、時間、食物、一般個人資料、
　　　　　家庭成員之稱呼
報讀資格：15歲或以上；學歷在副學位程度或以下；須修畢培訓局的「常用英
語I」基礎證書課程或已通過入學試
上課時間：逢星期二、四；上午9:15 - 11:45
堂 數：24堂(60小時)
上課地點：葵芳再培訓中心(葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$975 (備註2)
一般資助$3,250(備註3)

3.常用英語III基礎證書課程
課程內容︰基本英語文法及詞性、小句與句子結構、時式及字彙(問候語、自我
介紹；提出要求及提供指示形容天氣及交通工具；地方及位置)
報讀資格︰15歲或以上；學歷達小學六年級及兩年工作經驗、在副學位程度或
以下；須修畢培訓局的「基礎英語III」單元證書課程；須通過入學
試
上課時間︰逢星期一、三 　上午9:15 – 11:45
堂　　數︰15堂(45小時)
上課地點︰葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額︰25人
全期學費：免費 (備註1)
高額資助$675(備註2)
一般資助$2,250(備註3)

4. 職業英語(聽力及會話)I基礎證書
課程內容：自我介紹及問候；查詢資料及提問；簡介工作流程；日常社交對答
報讀資格：15歲或以上；學歷達中學三年級或以上，副學位程度或以下；須修
畢培訓局的「常用英語III單元證書課程」或已通過入學試
上課時間：逢星期一、三　　晚上6:45 – 9:15
堂 數：24堂(60小時)
上課地點︰葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額︰25人
全期學費：免費 (備註1)
高額資助$825(備註2)
一般資助$2,750(備註3)

5. 職業英語(聽力及會話)II基礎證書
課程內容：聽力訓練(對話、關鍵信息的聆聽、電話交談)；會話、報告(演說開場
　　　　　白、內容及結尾、公開演說技巧)；討論和會議
報讀資格：15歲或以上；學歷達中學五年級或以上，副學位程度或以下；須修
畢培訓局的「聽業英語(聽力及會話)I」或已通過入學試
上課時間：逢星期二、四　　晚上6:45 – 9:15
堂　　數：24堂(60小時)
上課地點：葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$825(備註2)
一般資助$2,750(備註3)

備註1：低收入(每月入息$9,000或以下)或失業 /待業 /失學可申請豁免學費
備註2：每月收入為$9,001至$19,500之人士只須繳付高額資助學費金額
備註3：每月收入為$19,501或以上之人士須支付一般資助學費金額

**凡申請”豁免繳費” 或 繳付”高額資助學費”，出席率須達80%，否則仍要繳付
　該課程之高額資助學費。

四) 興趣班、工作坊

多元文化工作坊
 發展婦女多方面技能及興趣，例如手工藝、攝影、戲劇、畫畫、肥皂製作等

婦女義工培訓工作坊
 參加者可學習活動籌劃及帶領技巧，完成工作坊後更可為區內居民、長者提供義工服務，加強區內連結

• 個案服務
• 由註冊社工跟進房屋、綜援、家庭糾紛、就業困難、申請資助等不同類型個案，提供專業意見
• 義務法律諮詢
• 任何法律相關的問題，例如家庭糾紛、工傷賠償、婚姻關係，均可到中心查詢及登記資料
• 小組聚會、專題講座
• 我們定期舉行小組聚會，凝聚婦女，互相支援；亦舉辦不同主題講座，如健康飲食、情緒壓力處理、管教子女

五) 社區圖書館

　　圖書館運作將近五年，藏書量已達1,500本，現時恆常於社區圖書館借閱圖書的街坊約有100人。社區圖書館主要服務的對象為區內的婦女和兒童，因此圖書館的書目類別都會主要針對這兩類群組，包括婦女養生食療、親子教育、勵志書藉、小說等；而針對兒童的書籍則集中於英文書籍及學科上所用到的工具書，希望對他們於學習上有所幫助。

六) 聯絡方法

電話：3590 2454　　傳真：3590 2416
地址：新界葵涌葵芳邨葵仁樓地下1-3號
中心開放時間：星期一至五　上午10時至晚上8時 中心簡介


「街坊工友服務處葵芳綜合服務互助幼兒中心」(下稱葵芳互幼中心)為「街坊工友服務處教育中心有限公司」轄下一個附屬單位，於2011年成立，是一個非牟利慈善團體。其成立的主要目的是服務區內街坊，特別是婦女、兒童及幼兒；提供多元化的服務，包括幼兒暫托服務、婦女支援服務、就業培訓及社區圖書借閱服務等。

葵芳互幼中心的服務範疇：

一) 互助幼兒服務: 「街坊工友服務處葵芳綜合服務互助幼兒中心」獲社署推薦，於2011年在葵芳區為有需要家庭，提供廉價日間幼兒暫託服務，避免獨留兒童在家引發意外，詳情如下：

對象：6歲以下幼童
服務：日間暫託(不包括膳食)
收費：每小時12元

服務時間： 
開放時段：星期一至五，下午4時至晚上8時
預約時段： 
A) 星期一至五, 上午10時至下午4時，晚上8時至10時
B) 星期六、日及公眾假期：上午10時至下午6時

每年服務約720人次

二) 街工關注基層婦女權益會
我們於2009年成立「新來港婦女權益組」，並於2013年改名為「街工關注基層婦女權益會」(下稱婦女權益會)，致力關注基層婦女的權益。現時婦女權益會的成員約100人，關注的議題包括：托兒服務、照顧者政策及零散工權益。我們亦於2013年成立了「基層婦女權益組車衣隊」，為區內街坊提供廉價的改衣服務，並將回收的布料加以利用，創造出一件件獨一無二的布藝品，藉此宣揚環保意識，發揮婦女才能。今年，我們建立了「用得著──以物易物平台」，定期於區內設置以物易物地攤，讓街坊互相分享，交換有用物品，學習珍惜資源。

三) 再培訓課程：

➢ 再培訓課程：
　　為香港合資格僱員、年齡15歲或以上及副學位程度或以下的失業/待業/失學人士提供半日制課程，課程包括：

運用技能培訓課程: 常用英語I基礎證書(兼讀制)、常用英語II基礎證書(兼讀制)、常用英語III基礎證書(兼讀制)、職業英語(聽力及會話)I基礎證書(兼讀制)、職業英語(聽力及會話)II基礎證書(兼讀制)

1.常用英語I基礎證書課程
課程內容：辨識字母、常用基本字詞、基本英文句子
報讀資格：15歲或以上；學歷在副學位程度或以下；尤其適合新來港人士
上課時間：逢星期一、三、五；上午9:15 - 11:45
堂 數：12堂(30小時)
上課地點：葵芳再培訓中心(葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$525 (備註2)
一般資助$1,750 (備註3)

2.常用英語II基礎證書課程
課程內容：日常基本英語應用，如自我介紹、數字、時間、食物、一般個人資料、
　　　　　家庭成員之稱呼
報讀資格：15歲或以上；學歷在副學位程度或以下；須修畢培訓局的「常用英
語I」基礎證書課程或已通過入學試
上課時間：逢星期二、四；上午9:15 - 11:45
堂 數：24堂(60小時)
上課地點：葵芳再培訓中心(葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$975 (備註2)
一般資助$3,250(備註3)

3.常用英語III基礎證書課程
課程內容︰基本英語文法及詞性、小句與句子結構、時式及字彙(問候語、自我
介紹；提出要求及提供指示形容天氣及交通工具；地方及位置)
報讀資格︰15歲或以上；學歷達小學六年級及兩年工作經驗、在副學位程度或
以下；須修畢培訓局的「基礎英語III」單元證書課程；須通過入學
試
上課時間︰逢星期一、三 　上午9:15 – 11:45
堂　　數︰15堂(45小時)
上課地點︰葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額︰25人
全期學費：免費 (備註1)
高額資助$675(備註2)
一般資助$2,250(備註3)

4. 職業英語(聽力及會話)I基礎證書
課程內容：自我介紹及問候；查詢資料及提問；簡介工作流程；日常社交對答
報讀資格：15歲或以上；學歷達中學三年級或以上，副學位程度或以下；須修
畢培訓局的「常用英語III單元證書課程」或已通過入學試
上課時間：逢星期一、三　　晚上6:45 – 9:15
堂 數：24堂(60小時)
上課地點︰葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額︰25人
全期學費：免費 (備註1)
高額資助$825(備註2)
一般資助$2,750(備註3)

5. 職業英語(聽力及會話)II基礎證書
課程內容：聽力訓練(對話、關鍵信息的聆聽、電話交談)；會話、報告(演說開場
　　　　　白、內容及結尾、公開演說技巧)；討論和會議
報讀資格：15歲或以上；學歷達中學五年級或以上，副學位程度或以下；須修
畢培訓局的「聽業英語(聽力及會話)I」或已通過入學試
上課時間：逢星期二、四　　晚上6:45 – 9:15
堂　　數：24堂(60小時)
上課地點：葵芳再培訓中心 (葵芳邨葵仁樓地下1-3號)
每班名額：25人
全期學費：免費 (備註1)
高額資助$825(備註2)
一般資助$2,750(備註3)

備註1：低收入(每月入息$9,000或以下)或失業 /待業 /失學可申請豁免學費
備註2：每月收入為$9,001至$19,500之人士只須繳付高額資助學費金額
備註3：每月收入為$19,501或以上之人士須支付一般資助學費金額

**凡申請”豁免繳費” 或 繳付”高額資助學費”，出席率須達80%，否則仍要繳付
　該課程之高額資助學費。

四) 興趣班、工作坊

多元文化工作坊
 發展婦女多方面技能及興趣，例如手工藝、攝影、戲劇、畫畫、肥皂製作等

婦女義工培訓工作坊
 參加者可學習活動籌劃及帶領技巧，完成工作坊後更可為區內居民、長者提供義工服務，加強區內連結

• 個案服務
• 由註冊社工跟進房屋、綜援、家庭糾紛、就業困難、申請資助等不同類型個案，提供專業意見
• 義務法律諮詢
• 任何法律相關的問題，例如家庭糾紛、工傷賠償、婚姻關係，均可到中心查詢及登記資料
• 小組聚會、專題講座
• 我們定期舉行小組聚會，凝聚婦女，互相支援；亦舉辦不同主題講座，如健康飲食、情緒壓力處理、管教子女

五) 社區圖書館

　　圖書館運作將近五年，藏書量已達1,500本，現時恆常於社區圖書館借閱圖書的街坊約有100人。社區圖書館主要服務的對象為區內的婦女和兒童，因此圖書館的書目類別都會主要針對這兩類群組，包括婦女養生食療、親子教育、勵志書藉、小說等；而針對兒童的書籍則集中於英文書籍及學科上所用到的工具書，希望對他們於學習上有所幫助。

六) 聯絡方法

電話：3590 2454　　傳真：3590 2416
地址：新界葵涌葵芳邨葵仁樓地下1-3號
中心開放時間：星期一至五　上午10時至晚上8時 