---
title: 街工 - 課程
---

<div class="sub-dir">
  <nav class="nav-subdir nav">
    <a href="#">再培訓</a>
    <a href="#">語文</a>
    <a href="#">就業掛鈎課程</a>
    <a href="#">電腦</a>
    <a href="#">美容及美髮</a>
    <a href="#">婚宴及喜慶</a>
    <a href="#">家居服務</a>
    <a href="#">酒店及旅遊</a>
    <br>
    <a href="#">補習班</a>
    <a href="#">託兒</a>
    <a href="#">物業管理及保安</a>
    <a href="#">中醫保健及健康護理</a>
    <a href="#">飲食</a>
    <a href="#">個人素養</a>
    <a href="#">體藝</a>
    <a href="#">數理</a>
  </nav>
</div>
