---
title: 街工 - 課程
---

<div class="course-content">
  <p class="sub-dir-heading">課程</p>
  <div class="course-photo-area">
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/language.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/computer.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/makeup2.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/wedding.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/home.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/hotel.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/tutorial.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/children.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/security.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/chinesemedical.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/food.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/self.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/exercise.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多...</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/maths.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多...</a>  
      </div>  
    </div>
  </div>
</div>
