---
title: 街工 - 課程
---

<div class="course-content">
  <p class="sub-dir-heading">課程</p>
  <div class="course-photo-area">
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/language.jpg">
      <div class="mask">  
      <h2>語文</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/computer.jpg">
      <div class="mask">  
      <h2>電腦</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/makeup2.jpg">
      <div class="mask">  
      <h2>美容及美髮</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/wedding.jpg">
      <div class="mask">  
      <h2>婚宴及喜慶</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/home.jpg">
      <div class="mask">  
      <h2>家居服務</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/hotel.jpg">
      <div class="mask">  
      <h2>酒店及旅遊</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/tutorial.jpg">
      <div class="mask">  
      <h2>補習班</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/children.jpg">
      <div class="mask">  
      <h2>託兒</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/security.jpg">
      <div class="mask">  
      <h2>物業管理及保安</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/chinesemedical.jpg">
      <div class="mask">  
      <h2>中醫保健及健康護理</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/food.jpg">
      <div class="mask">  
      <h2>飲食</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/self.jpg">
      <div class="mask">  
      <h2>個人素養</h2>  
         <a href="#" class="info">查看更多</a>  
      </div>  
    </div>
    <div class="course-photo-box mask-area">
      <img src="http://www.nwsc.edu.hk/modx/exercise.jpg">
      <div class="mask">  
      <h2>體藝</h2>  
         <a href="#" class="info">查看更多...</a>  
      </div>  
    </div>
    <div class="course-photo-box course-photo-box-right mask-area">
      <img src="http://www.nwsc.edu.hk/modx/maths.jpg">
      <div class="mask">  
         <a href="#" class="info">查看更多...</a>  
      </div>  
    </div>
  </div>
</div>
