---
title: 街坊工友服務處 - 首頁
---

<div class="demo">
  <div class="container" style="background: url('http://infoom.se/bilder_till_hemsida/light-grey-pattern_60.png');">
    <div class="row">
      <div class="span12">
        <div id="owl-demo" class="owl-carousel">
            <h4 class="item">
            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10430885_988717531155939_3651695654832321248_n.jpg?oh=fbec64b439146d997660f13d89112df4&oe=56028F79&__gda__=1442695503_780edbb21cf11da83c8187c7e4324890" />
            <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11037274_1019305158097176_308131206117790757_n.jpg?oh=5b958c95cc19e8da5c8f9d1ce0c8c881&oe=560148CF" />
            <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10583830_857525340941826_5428338346102477508_n.jpg?oh=ba349e5bc1363599601cf4a21834f5c4&oe=55C11DD2&__gda__=1440021354_7e3c1459532dad157898a42e3933cb0e" />
          </h4>
          <h4 class="item">
              <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/395669_334778769883155_88480479_n.jpg?oh=e81f7b11fe7f6343e29dd2c64ebf505c&oe=55FE7A68" />
              <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/397852_334778706549828_828703551_n.jpg?oh=01d4ab11652424adb425bc2477936baa&oe=55C4B4A8" />
              <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/156447_334780619882970_1201100977_n.jpg?oh=b576488bd1b510d71abd79fd6afcdb3d&oe=55C2FFA2" />
          </h4>
          <h4 class="item">
            <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/576572_431509906876707_1349061169_n.jpg?oh=9700c4038857cc536d5dcb8bea90997e&oe=55C4CFCF" />
            <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/417630_586279208066442_765566508_n.jpg?oh=e3112794cdb35422b07e6c360e00cc09&oe=55FFE8CE&__gda__=1443294320_c301222bc3cb1943c2c8aaaf3ef6feb6" />
            <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/75513_584470511580645_1315102119_n.jpg?oh=6b04c17ff3e05e54b0f61ded9582b990&oe=5600D9A6" />
          <h4 class="item">
            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/481278_584470338247329_255007208_n.jpg?oh=56408fbc2c2e040ca330f1759ef92514&oe=55FFBA60&__gda__=1439412865_a4356aa9362c90e78d728f6f8cd7ae55" />
            <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/482737_581387655222264_1406498547_n.jpg?oh=b17564e832f85ed4558b60a112536688&oe=55D28FDF&__gda__=1439821582_24b6fcaf27de6cbdfef7cdab12690f5d" />
            <img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/318214_431510656876632_1095763621_n.jpg?oh=51277000afb3d6ed073d412dadaa215b&oe=55CAFA28" />
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="index-content">
  <div class="block-left">
    <h5>最新活動</h5>
    <div class="border"></div>
    <div class="block-content">
     <p>XXXXXX</p>
    </div>
    <div class="circle-left"></div>
      <a href="#"></a>
  </div>
  <div class="block-right">
    <h5>各教育中心</h5>
    <div class="border"></div>
    <div class="block-content">
      <div class="row1">
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/pink.png">
          <p>荃灣花園中心</p>
        </div>
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/green.png">
          <p>荃灣豪輝中心</p>
        </div>
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/orange.png">
          <p>荃灣遠東中心</p>
        </div>
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/red.png">
          <p>葵興中心</p>
        </div>
      </div>
      <div class="row2">
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/purple.png">
          <p>葵芳中心</p>
        </div>
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/yellow.png">
          <p>青衣中心</p>
        </div>
        <div class="branch">
          <img src="http://www.nwsc.edu.hk/modx/blue.png">
          <p>天水圍<br>中心</p>
        </div>
      </div>
    </div>
    <div class="circle-right"></div>
      <a href="#"></a>
  </div>
</div>
