---
title: 街坊工友服務處 - 首頁
---

<div class="demo">
  <div class="container" style="background: url('http://infoom.se/bilder_till_hemsida/light-grey-pattern_60.png');">
    <div class="row">
      <div class="span12">
        <div class="owl-carousel">
          <h4 class="item">
            <a href="../%E5%B9%BC%E5%85%92%E5%AD%B8%E5%89%8D%E9%A0%90%E5%82%99%E7%8F%AD-5%E6%9C%88%E4%B8%AD%E6%97%AC%E9%96%8B%E8%AA%B2/">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="http://nwsc.edu.hk/wp-content/uploads/2015/04/%E5%B9%BC%E5%85%92%E5%AD%B8%E5%89%8D%E9%A0%90%E5%82%99%E7%8F%AD_%E5%AE%A3%E5%82%B3%E5%96%AE%E5%BC%B5.jpg" alt="幼兒學前預備班" height="320px" />
            </a>
          </h4>
          <h4 class="item">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="http://nwsc.edu.hk/wp-content/uploads/2015/04/%E8%A6%AA%E5%AD%90Playgroup_%E5%AE%A3%E5%82%B3%E5%96%AE%E5%BC%B5.jpg" alt="親子Playgroup" height="320px" />
          </h4>
          <h4 class="item">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="http://nwsc.edu.hk/wp-content/uploads/2015/04/%E6%96%B0-38ES_%E9%86%AB%E7%99%82%E5%B8%B8%E7%94%A8%E8%8B%B1%E8%AA%9EI.jpg" alt="醫療護理常用英語I基礎證書(兼讀制)" height="320px" />
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
